<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="#">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>

</head>
<body>
    
    <nav class="navbar navbar-dark bg-dark" aria-label="Dark offcanvas navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Test W-TECH</a>
        </div>
    </nav>


    <section>

        <div class="container-sm">
            <form class="d-flex mt-3" >
                <input class="form-control me-2"  placeholder="Input text" id="input-text">
                <button class="btn btn-outline-success" id="btn-show__text" >Save</button>      
            </form>      
        </div>
        
        <div class="container-sm" >
            <label for="" id="label-write__text"></label>
        </div>

    </section>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Perfil</h1>
                <p class="text">
                    Ingeniero en sistemas con competencias y habilidades laborales. Con capacidad para liderar 
                    ideas y propuestas, ponerlas en ejecución con un buen desempeño ante los diversos problemas, 
                    creando y dando soluciones adecuadas. Facilidad de aprendizaje en cualquier área de 
                    conocimiento, trabajo en equipo y buen manejo de relaciones interpersonales.
                </p>
            </div>
        </div>
    </section>

    <section>
        <div class="container-sm">
                <div class="col-md-8 m-auto">
                        <div class="row g-0 border rounded  flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col-auto  d-lg-block">
                                <img class="bd-placeholder-img" width="200" height="250" src="/assets/img/video-game.jpg" alt="sport">
                            </div>
                   
                            <div class="col p-4 d-flex flex-column position-static">
                                <h3 class="mb-0">Video juegos</h3>
                                <p class="card-text mb-auto">Un videojuego es una aplicación interactiva orientada al entretenimiento que,
                                                             a través de un mando, permite simular experiencias en una pantalla  y es ejecutado en
                                                             computadoras u otro dispositivo electrónico diseñado con este fin.
                                </p>
                            </div>  
                        </div>  
                </div>

                <div class="col-md-8 m-auto" id="container-hobbie2" style="display:none ;">
                        <div class="row g-0 border rounded  flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col-auto  d-lg-block">
                                <img class="bd-placeholder-img" width="200" height="250" src="/assets/img/sport.jpg" alt="sport">
                            </div>
                   
                            <div class="col p-4 d-flex flex-column position-static">
                                <h3 class="mb-0">Mantenerse en forma</h3>
                                <p class="card-text mb-auto"> El ejercicio trae múltiples beneficios, no sólo en el aspecto físico,
                                                              sino también en la salud corporal y psicológica. Entre otras cosas, hacer 
                                                              ejercicio ayuda a regular las cifras de presión arterial, mejorar la resistencia
                                                              a la insulina, mejorar la flexibilidad, reducir el estrés y mejorar el estado de
                                                              ánimo. 
                                </p>
                            </div>  
                        </div>  
                </div>

                <div class="col-md-2 m-auto">
                  <button type="button" class="btn btn-primary btn-sm" id="btn-show__hobbie">Ver otro hobbie</button>
                </div>
        </div>
    </section>

    <footer class="py-5">
            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top m-auto">
                <p class="m-auto">&copy; 2022 -  Jhon Alexander Gil Franco</p>
            </div>
    </footer>

</body>
<script src="/assets/js/main.js"></script>

</html>